<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'main/styles/styles.css?v=<?=time();?>' %}">

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
    <title>Kretis</title>
</head>





{% block bodyclass %} <body> {% endblock bodyclass %}

    <div class="hamburger-cover display-off">
        <div class="ham-items">
            <ul class="ham-links">
                <li>
                    <img src="{% static 'main/home_page/f_arrow.svg' %}" alt="">
                    <a href="{% url 'home_page' %}"><p>Pagrindinis</p></a>
                </li>
                <li>
                    <img src="{% static 'main/home_page/f_arrow.svg' %}" alt="">
                    <a href="{% url 'websites' %}"><p>Internetinės svetainės</p></a>
                </li>
                <li>
                    <img src="{% static 'main/home_page/f_arrow.svg' %}" alt="">
                    <a href="{% url 'e_shop' %}"><p>Elektroninės parduotuvės</p></a>
                </li>
                <li>
                    <img src="{% static 'main/home_page/f_arrow.svg' %}" alt="">
                    <a href="{% url 'design' %}"><p>Internetinių svetainių dizainas</p></a>
                </li>
                <li>
                    <img src="{% static 'main/home_page/f_arrow.svg' %}" alt="">
                    <a href="{% url 'projects' %}"><p>Įgyvendinti projektai</p></a>
                </li>
                <li>
                    <img src="{% static 'main/home_page/f_arrow.svg' %}" alt="">
                    <a href=""><p>Naudinga informacija</p></a>
                </li>
                <li>
                    <img src="{% static 'main/home_page/f_arrow.svg' %}" alt="">
                    <a href="{% url 'calculator' %}"><p>Kainų skaičiuoklė</p></a>
                </li>
                <li>
                    <img src="{% static 'main/home_page/f_arrow.svg' %}" alt="">
                    <a href="{% url 'contacts' %}"><p>Kontaktai</p></a>
                </li>
            </ul>
            <ul class="ham-contacts">
                <li>
                    <img src="{% static 'main/home_page/c_phone.svg' %}" alt="">
                    <a href=""><p>+370 638 22 675</p></a>
                </li>
                <li>
                    <img src="{% static 'main/home_page/c_mail.svg' %}" alt="">
                    <a href=""><p>info@kretis.lt</p></a>
                </li>
            </ul>
        </div>
    </div>

    <nav class="">
        <div class="logo"> <a href="{% url 'home_page' %}"><img src="{% static 'main/home_page/logo.svg' %}" alt=""> </a></div>
            <ul class="nav-links">
                <li><a href="{% url 'websites' %}">Internetinės svetainės</a></li>
                <li><a href="{% url 'e_shop' %}">Elektroninės parduotuvės</a></li>
                <li><a href="{% url 'design' %}">Internetinių svetainių dizainas</a></li>
            </ul>
            <div class="nav-btn">
                <p id="nav-menu-word">Menu</p>
                <svg class="ham-stripes" width="22px" height="20px" viewBox="0 0 22 15" fill="#4A62B5">
                    <path d="M21.140625,7 L0.859375,7 C0.384742187,7 0,7.4477 0,8 C0,8.5523 0.384742187,9 0.859375,9 L21.140625,9 C21.6152578,9 22,8.5523 22,8 C22,7.4477 21.6152578,7 21.140625,7 Z" class="line1"></path>
                    <path d="M21.140625,0 L0.859375,0 C0.384742187,0 0,0.4477 0,1 C0,1.5523 0.384742187,2 0.859375,2 L21.140625,2 C21.6152578,2 22,1.5523 22,1 C22,0.4477 21.6152578,0 21.140625,0 Z" class="line2"></path>
                    <path d="M21.140625,13 L0.859375,13 C0.384742187,13 0,13.4477 0,14 C0,14.5523 0.384742187,15 0.859375,15 L21.140625,15 C21.6152578,15 22,14.5523 22,14 C22,13.4477 21.6152578,13 21.140625,13 Z" class="line3"></path>
                </svg>
            </div>
    </nav>

    <hr class="nav-underline"></hr>

    {% block content %}
    {% endblock content %}

    <footer class="">
        <div class="footer-logo ">
            <a href="{% url 'home_page' %}"><img src="{% static 'main/home_page/logo.svg' %}" class="f-logo" alt=""> </a>
            <p class="f-text">
                Pažangūs ir kūrybiški skaitmeniai
                sprendimai įmonėms.
            </p>
            <div class="f-icons">
                <a href=""><img src="{% static 'main/home_page/fb-logo.svg' %}" alt=""></a>
                <a href=""><img src="{% static 'main/home_page/linked-logo.svg' %}" alt=""></a>
                <a href=""><img src="{% static 'main/home_page/insta-logo.svg' %}" alt=""></a>
            </div>
        </div>
        <div class="f-services">
            <p class="f-s-title">
                Paslaugos
            </p>
            <ul class="f-services-items">
                <li>
                    <img src="{% static 'main/home_page/f_arrow.svg' %}" alt="">
                    <a href="{% url 'websites'%}">Internetinės svetaines</a>
                </li>
                <li>
                    <img src="{% static 'main/home_page/f_arrow.svg' %}" alt="">
                    <a href="{% url 'e_shop' %}">Elektroninės parduotuvės</a>

                </li>
                <li>
                    <img src="{% static 'main/home_page/f_arrow.svg' %}" alt="">
                    <a href="{% url 'design' %}">Internetinių svetainių dizainas</a>
                </li>
            </ul>
        </div>
        <div class="f-contacts">
            <p class="f-contacts-title">Kontaktai</p>
            <ul class="f-contacts-items">
                <li>
                    <img src="{% static 'main/home_page/c_phone.svg' %}" alt="">
                    <p>+370 638 22 675</p>
                </li>
                <li>
                    <img src="{% static 'main/home_page/c_mail.svg' %}" alt="">
                    <p>info@kretis.lt</p>
                </li>
                <li>
                    <img src="{% static 'main/home_page/c_clock.svg' %}" alt="">
                    <p>I - V 09:00 - 18:00</p>
                </li>
            </ul>
        </div>
        <img class="footer-side-logo" src="{% static 'main/home_page/footer-extra.svg' %}" alt="">
        <div class="f-copyright">
            <p class="f-copy-tag">
                Visos teisės saugomos c 2020 Kretis.lt
            </p>
            <hr>
            <p class="priv-policy">
                <a href="">Privatumo politika</a>
            </p>
        </div>
    </footer>

    <script src="{% static 'main/js/app.js'%}"></script>
</body>
</html>